<div class="country-detail" *ngIf="countryDetails">
  <h2>{{ countryDetails.name.common }} - Detalhes</h2>
  <p-image [src]="countryDetails.flags.svg" alt="Image" width="150" [preview]="true" />


  <div class="country-info">
    <p><strong>Capital:</strong> {{ countryDetails.capital[0] }}</p>
    <p><strong>População:</strong> {{ countryDetails.population }}</p>
    <p><strong>Área:</strong> {{ countryDetails.area }} km²</p>
    <p><strong>Região:</strong> {{ countryDetails.region }}</p>
    <p><strong>Sub-região:</strong> {{ countryDetails.subregion }}</p>
    <p>
      <strong>Moeda:</strong>
      <span
        *ngFor="
          let currency of getCurrenciesList(countryDetails.currencies);
          let last = last
        "
      >
        {{ currency.name }} ({{ currency.symbol }})<span *ngIf="!last">, </span>
      </span>
    </p>
    <p>
      <strong>Línguas:</strong>
      <span
        *ngFor="
          let language of getLanguagesList(countryDetails.languages);
          let last = last
        "
      >
        {{ language }}<span *ngIf="!last">, </span>
      </span>
    </p>
    <p><strong>Fuso horário:</strong> {{ countryDetails.timezones[0] }}</p>
    <p-divider />
    <p-divider align="left" type="solid">
        <b>Left</b>
        </p-divider>
    

    <p>
      <strong>Área geográfica:</strong> {{ countryDetails.latlng[0] }},
      {{ countryDetails.latlng[1] }}
    </p>
    <p>
      <strong>Independente:</strong>
      {{ countryDetails.independent ? "Sim" : "Não" }}
    </p>
    <p>
      <strong>Membro da ONU:</strong>
      {{ countryDetails.unMember ? "Sim" : "Não" }}
    </p>

    <h3>Links:</h3>
    <ul>
      <li>
        <a [href]="countryDetails.maps.googleMaps" target="_blank">
          Google Maps
        </a>
      </li>
      <li>
        <a [href]="countryDetails.maps.openStreetMaps" target="_blank">
          OpenStreetMap
        </a>
      </li>
    </ul>

    <div class="coat-of-arms">
      <h4>Brasão de armas</h4>
      <p-image [src]="countryDetails.coatOfArms.svg" alt="Image" width="100" [preview]="true" />

    </div>
  </div>
</div>
